<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>

    <h1 class="landing-title">All Blogs</h1>

    <div class="blog-list">
        <% if (blogs.length === 0) { %>
            <p class="no-blogs-message">No blogs available.</p>
        <% } else { %>
            <% blogs.forEach((blog) => { %>
                <div class="blog-item">
                    <% if (blog.user) { %> 
                        <h2 class="blog-title"><a href="/users/<%= blog.user._id %>/blogs/<%= blog._id %>"><%= blog.title %></a></h2>
                        <p class="blog-content"><%= blog.content %></p>
                        
                        <% if (user && user._id.toString() === blog.user.toString()) { %> 
                            <a href="/blogs/<%= blog._id %>/edit"><button class="small-btn">Edit</button></a>
                            <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" style="display:inline;">
                                <button type="submit" class="small-btn">Delete</button>
                            </form>
                        <% } %>
                    <% } else { %>
                        <h2 class="blog-title"><%= blog.title %></h2> 
                        <p class="blog-content"><%= blog.content %></p>
                    <% } %>
                </div>
            <% }); %>
        <% } %>
    </div>
    
    <% if (user) { %> 
        <h2 class="view-my-blogs"><a href="/users/<%= user._id %>/blogs">View all my blogs</a></h2>
    <% } %>
</body>
</html>
