<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= post.title %></title>
  <!-- <link rel="stylesheet" href="/styles/style.css"> -->
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }

    input[type="text"], textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    textarea {
      height: 400px;
      resize: vertical; /* Allows the user to resize the content box vertically */
    }

    button[type="submit"] {
      width: 100%;
      padding: 12px;
      background-color: #5cb85c;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #4cae4c;
    }
  </style>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %> <!-- Include Navbar -->

    <h1><%= post.title %></h1>
    <p><%= post.content %></p>

    <h3>Comments</h3>

    <% if (post.comments.length === 0) { %>
        <p>No comments yet</p>
    <% } else { %>
        <% post.comments.forEach((comment) => { %>
            <div>
                <p><strong>Comment by:</strong> <%= comment.commenterId.username %></p>
                <p><%= comment.content %></p>
                <p><em>Posted on: <%= comment.createdAt.toDateString() %></em></p>
            </div>
        <% }); %>
    <% } %>
    

    <h3>Add a Comment</h3>
    <form action="/posts/<%= post._id %>/comments" method="POST">
        <label for="content">Add a Comment:</label>
        <textarea name="content" id="content" required></textarea>
    
        <button type="submit">Submit Comment</button>
    </form>
    

    <p>
        <a href="/users/<%= post.userId %>/blogs">Back to Blogs</a>
    </p>
</body>
</html>
